{% url 'manager:products' as products_url %}
{% url 'manager:orders' as orders_url %}
{% url 'manager:feedback' as feedback_url %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}7-sins.store{% endblock %}</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous"></head>

    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'manager/css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/alert.css' %}">
    <script src="{% static 'js/alert.js' %}"></script>

    {% block head %}{% endblock %}
<body>

<div class="sidebar">
  <a class="title" href="/">7-sins.store</a>
  <a {% if request.path == products_url %}class="active"{% endif %} href="{{ products_url }}">Продукция</a>
  <a {% if request.path == orders_url %}class="active"{% endif %} href="{{ orders_url }}">Заказы</a>
  <a {% if request.path == feedback_url %}class="active"{% endif %} href="{{ feedback_url }}">Обратная связь</a>
  <a href="{% url 'authorization:logout' %}">Выход</a>
</div>

<div class="content">

{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}alert-danger{% else %}alert-success{% endif %}">
                {{ message }}
              <button>
                <span aria-hidden="true">&times;</span>
              </button>
        </div>

    {% endfor %}
{% endif %}

    {% block content %}{% endblock %}
</div>

</body>
</html>