{% extends "manager/base.html" %}

{% block title %}Обратная связь{% endblock %}

{% block head %}

{% endblock %}

{% block content %}

    <div class="wrapper">
        <center><h3>Обратная связь</h3></center>
        <hr>
        {% if object_list %}

        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Дата</th>
              <th scope="col">Тема</th>
              <th scope="col">Статус</th>
              <th scope="col">&nbsp;</th>
            </tr>
          </thead>
          <tbody>
              {% for object in object_list %}
                <div>
                    <tr>
                      <td>{{ object.timestamp|date:'d M Y' }} {{ object.timestamp|time:"H:i" }}</td>
                      <td>{{ object.subject }}</td>
                        {% if object.answer %}
                            <td style="color: lightgreen">Прочитано</td>
                        {% else %}
                            <td style="color: red">Ожидает ответа</td>
                        {% endif %}
                     <td><a class="btn btn-primary btn-sm" href="{% url 'manager:feedback_info' object.pk %}" role="button">{% if object.answer %}Просмотреть{% else %}Ответить{% endif %}</a></td>
                    </tr>
                </div>
              {% endfor %}
          </tbody>
        </table>


            {% if page_obj.paginator.num_pages > 1 %}
            <nav aria-label="...">
              <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
                    </li>
                {% else %}
                     <li class="page-item disabled">
                      <a class="page-link" href="" tabindex="-1">Previous</a>
                    </li>
                {% endif %}

                {% for i in page_obj.paginator.page_range %}
                    {% if i < page_obj.number|add:'3' and i > page_obj.number|add:'-3' %}
                        <li class="page-item {% if i == page_obj.number %}active{% endif %}"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                  {% if page_obj.has_next %}
                      <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                      </li>
                  {% else %}
                      <li class="page-item disabled">
                        <a class="page-link" href="">Next</a>
                      </li>
                  {% endif %}

              </ul>
            </nav>
                {% endif %}
                
        {% else %}
            <center><h5>Вопросы не найдены</h5></center>
        {% endif %}
    </div>

{% endblock %}