{% extends "manager/base.html" %}

{% block title %}Изменение заказа{% endblock %}

{% block head %}

{% endblock %}

{% block content %}
    
    <div class="wrapper">
        <a  class="btn btn-info" href={% url 'manager:orders' %}>Назад</a>
        <br><br>
        <p>Email: {{ order.email }}</p>
        <p>Номер телефона: {{ order.phone }}</p>
        <p>Дата заказа: {{ order.timestamp }}</p>
    <form method="POST" accept-charset="utf-8" enctype="multipart/form-data"> {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Отправить</button>
    </form>
    
    {% for productItem in order.orderItems.all %}
        <div style="margin: 100px 100px 100px 100px; border: 2px solid black">
            <p>Название {{ productItem.product }}</p>
            <p>Количество {{ productItem.count }}</p>
        </div>
    {% endfor %}
    
    <h3>Общая стоимсть: {{ order.price }} гривен</h3>
    
    </div>

{% endblock %}