{% extends "manager/base.html" %}

{% block title %}Изменение заказа{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'manager/css/order.css' %}">
{% endblock %}

{% block content %}
    <div class="wrapper">
        <center><h4>Изменение заказа</h4></center>
        <br><br>
        <p>Email: {{ order.email }}</p>
        <p>Номер телефона: {{ order.phone }}</p>
        <p>Дата заказа: {{ order.timestamp|date:'d M Y' }} {{ order.timestamp|time:"H:i" }}</p>
        <p>Стоимость заказа: {{ order.price }} гривен</p>
    <form method="POST" accept-charset="utf-8" enctype="multipart/form-data"> {% csrf_token %}
        {% for field in form %}
             <p>{{ field.label_tag }} {{ field }}</p>
        {% endfor %}
        <a  class="btn btn-info" href={% url 'manager:orders' %}>Назад</a>
        <button style="float: right" class="btn btn-info" type="submit">Сохранить</button>
    </form>

    <br>
    <center><h4>Элементы заказа</h4></center>

    {% for productItem in order.orderItems.all %}


        <div class="product">
            <p>Наименование: <a target="_blank" href="{{ productItem.product.get_absolute_url }}">{{ productItem.product }}</a></p>
            <p>Количество: {{ productItem.count }} единиц</p>
            <p>Стоимость: {{ productItem.calcPrice }} гривен</p>
        </div>
    {% endfor %}
    <br>

    </div>

{% endblock %}