{% extends "manager/base.html" %}

{% block title %}Заказы{% endblock %}

{% block head %}

{% endblock %}

{% block content %}

    <div class="wrapper">
        <center><h3>Заказы</h3></center>
        <hr>
        {% if object_list %}

        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Номер заказа</th>
              <th scope="col">Дата заказа</th>
              <th scope="col">Сумма заказа</th>
              <th scope="col">Статус</th>
              <th scope="col">&nbsp;</th>
            </tr>
          </thead>
          <tbody>
              {% for object in object_list %}
                <div>
                    <tr>
                      <th>№{{ object.pk }}</th>
                      <td>{{ object.timestamp|date:"d M Y" }} {{ object.timestamp|time:"H:i" }}</td>
                      <td>{{ object.price }} гривен</td>
                        {% if object.status == 'NEW' %}
                            <td style="color: lightgreen">{{ object.status }}</td>
                        {% elif object.status == 'CANCELED' %}
                            <td style="color: red">{{ object.status }}</td>
                        {% else %}
                            <td style="color: green">{{ object.status }}</td>
                        {% endif %}
                     <td><a class="btn btn-primary btn-sm" href="{% url 'manager:order' object.pk %}" role="button">Подробнее</a></td>
                    </tr>
                </div>
              {% endfor %}
          </tbody>
        </table>


            {% if page_obj.paginator.num_pages > 1 %}
            <nav aria-label="...">
              <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
                    </li>
                {% else %}
                     <li class="page-item disabled">
                      <a class="page-link" href="" tabindex="-1">Previous</a>
                    </li>
                {% endif %}

                {% for i in page_obj.paginator.page_range %}
                    {% if i < page_obj.number|add:'3' and i > page_obj.number|add:'-3' %}
                        <li class="page-item {% if i == page_obj.number %}active{% endif %}"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                  {% if page_obj.has_next %}
                      <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                      </li>
                  {% else %}
                      <li class="page-item disabled">
                        <a class="page-link" href="">Next</a>
                      </li>
                  {% endif %}

              </ul>
            </nav>
                {% endif %}
                
        {% else %}
            <center><h5>Заказы не найдены</h5></center>
        {% endif %}
    </div>

{% endblock %}