{% extends "manager/base.html" %}

{% block title %}Редактирование товара{% endblock %}

{% block head %}
    {% load static %}
    <script src="{% static 'manager/js/ckeditor/ckeditor.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="wrapper">
        <a  class="btn btn-info" href={% url 'manager:products' %}>Назад</a>
    <form method="POST" accept-charset="utf-8" enctype="multipart/form-data"> {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Отправить</button>
    </form>
    </div>
    <script>

        CKEDITOR.replace('id_description')
    </script>

{% endblock %}