<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'authorization/css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

    <div class="wrapper">
        <div class="loginform">
            <center><h4>Авторизация</h4></center>
            <form method="POST" accept-charset="utf-8" enctype="multipart/form-data"> {% csrf_token %}
                {{ form.as_p }}
                <center><button type="submit" class="btn btn-primary">Войти</button></center>
            </form>
        </div>
    </div>

</body>
</html>