{% extends "base.html" %}
{% load static %}

{% block title %}Cart{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'orders/css/cart.css' %}">
{% endblock %}

{% block content %}

    <center><h2>Корзина</h2></center>
    <hr>
    <br>

    {% if products.items %}

    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">&nbsp;</th>
          <th scope="col">Имя</th>
          <th scope="col">Цена</th>
          <th scope="col">Количество</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        {% for product, amount in products.items %}
            <tr class="product">
              {% if product.image %}
                <td><a href='{% url 'view' product.slug %}'><img src="{{ product.image.url }}" ></a></td>
              {% else %}
                    <td><a href='{% url 'view' product.slug %}'><img src="{% static "/image/noImage.png" %}"></a></td>
              {% endif %}
              <td>{{ product.name }}</td>
              <td><span id="price">{{ product.price }}</span>₴</td>
              <td><input id="count" type="number" name="{{ product.pk }}" min="1" max="{{ product.quantity }}" value="{{ amount }}"></td>
              <td><button class="btn btn-primary" type="button" onclick="window.location.href='{% url 'orders:remove' product.pk %}'">Удалить</button></td>
            </tr>
        {% endfor %}
      </tbody>
    </table>

    {% if products.items %}
        <div class="total">
            <h3>Итоговая цена: <span id="totalPrice"></span>₴</h3>
            <hr>
            <button class="btn btn-primary" type="button" onclick="window.location.href='{% url 'orders:confirm' %}'">Оформить заказ</button>
        </div>
    {% endif %}

    {% csrf_token %}
    <script src="{% static 'orders/js/priceCalculator.js' %}"></script>
    {% else %}
        <center><h3>Пусто</h3></center>
    {% endif %}

{% endblock %}