{% extends "base.html" %}
{% load static %}

{% block title %}Cart{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'orders/css/cart.css' %}">
{% endblock %}

{% block content %}

    <h2>Корзина</h2>
    <br>

    <div>
        {% for product, amount in products.items %}
            <div class="product">
                <h5>Наименование: {{ product.name }}</h5>

                <p>
                <span id="price">{{ product.price }}</span>
                <input id="count" type="number" name="{{ product.pk }}" min="1" max="{{ product.quantity }}" value="{{ amount }}">
                    <span id="total">0</span>
                гривен
                </p>
                <button class="btn btn-primary" type="button" onclick="window.location.href='{% url 'orders:remove' product.pk %}'">Удалить</button>


            </div>

        {% empty %}
            <h2>Пусто</h2>
        {% endfor %}

            {% if products.items %}
                <h3>Total price: <span id="totalPrice"></span></h3>
                <hr>
                <button class="btn btn-primary" type="button" onclick="window.location.href='{% url 'orders:confirm' %}'">Оформить заказ</button>
            {% endif %}
    </div>

    {% csrf_token %}
    <script src="{% static 'orders/js/priceCalculator.js' %}"></script>

{% endblock %}