{% extends "base.html" %}

{% block title %}Подтверждения заказа{% endblock %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'orders/css/confirm.css' %}">
{% endblock %}
{% block content %}
    <div class="form">
        <form method="post" action="{% url 'orders:confirm' %}"> {% csrf_token %}
            <center><h3>Подтверждение заказа</h3></center>
             {% for field in form %}
                 <p>{{ field.label_tag }} {{ field }}</p>
            {% endfor %}
            <center><button type="submit" class="btn btn-primary">Отправить</button></center>
        </form>
    </div>
{% endblock %}