{% extends "base.html" %}

{% block title %}Отслеживание{% endblock %}

{% block content %}
    <br>
    <center>
        <h3>Отслеживание состояния заказа</h3>
        <br>
        {% if order %}
        <p>Состояние вашего заказа: <span style="color: green">{{ object.get_status_display }}</span></p>
        {% else %}
            <p>По вашему номеру не найден заказ. Попробуйте позже или свяжитесь с технической поддержкой</p>
        {% endif %}
        <button class="btn btn-primary" onclick="location.href = '{% url 'home' %}'">Вернутся на главную</button>
    </center>
{% endblock %}