{% extends "base.html" %}

{% block title %}{{ object.name }}{% endblock %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'products/css/detail.css' %}">
{% endblock %}

{% block content %}

    {% if not object.active %}
        <br>
        <div class="alert alert-secondary" role="alert">Товар архивирован</div>
    {% endif %}

    <div class="main-content-wrapper clearfix">

        <div class="single-product-area section-padding-100 clearfix" style="margin-left: 100px">

                <div class="row">
                    <div class="col-12 col-lg-7">
                        <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    {% if object.image %}
                                    <img class="w-100" src="{{ object.image.url }}">
                                    {% else %}
                                        <img class="w-100" src="{% static "/image/noImage.png" %}">
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5">
                        <div class="single_product_desc">
                            <!-- Product Meta Data -->
                            <div class="product-meta-data">
                                <div class="line"></div>
                                    <h2>{{ object.name }}</h2>
                                {% if object.quantity > 0 and object.active %}
                                <p style="color: darkgreen; font-size: 20px"> В наличии</p>
                                {% else %}
                                    <p style="color: red; font-size: 20px"> Нет в наличии</p>
                                {% endif %}
                            </div>

                        <h5>Цена: {{ object.price }} ₴</h5>

                            <div class="short_overview my-5">
                                {{ object.description|safe }}
                            </div>
                            
                            <a href="{% url 'orders:add' object.pk %}" class="btn amado-btn" {% if product.quantity == 0 %}disabled="disabled"{% endif %}>Добавить в корзину</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}