{% extends "base.html" %}

{% block title %}Продукция{% endblock %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" href={% static 'products/css/list.css' %}>
{% endblock %}

{% block cart %}{{ cartLen }}{% endblock %}

{% block content %}


            <div class="amado-pro-catagory clearfix">
                {% for object in object_list %}
                    <div class="single-products-catagory clearfix">
                        <a href="{{ object.get_absolute_url }}">
                            {% if object.image %}
                            <img src="{{ object.image.url }}" alt="">
                            {% else %}
                                <img src="{% static "/image/noImage.png" %}" alt="">
                            {% endif %}
                            <div class="hover-content">
                                <div class="line"></div>
                                <h4>{{ object.name }}</h4>
                                <p>Стоимость: {{ object.price|floatformat:"0" }}₴</p>
                            </div>
                        </a>
                    </div>
                {% empty %}
                    <br>
                    <center><h3>Продукция еще не создана</h3></center>
                {% endfor %}

            </div>



    <script src="{% static 'products/js/plugins.js' %}"></script>
    <script src="{% static 'products/js/active.js' %}"></script>

{% endblock %}