{% extends "base.html" %}

{% block title %}Shop{% endblock %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" href={% static 'products/css/list.css' %}>
{% endblock %}

{% block cart %}{{ cartLen }}{% endblock %}

{% block content %}


            <div class="amado-pro-catagory clearfix">
                {% for object in object_list %}
                    <div class="single-products-catagory clearfix">
                        <a href="{% url 'view' object.slug %}">
                            <img src="{{ object.image.url }}" alt="">
                            <div class="hover-content">
                                <div class="line"></div>
                                <h4>{{ object.name }}</h4>
                                <p>Стоимость: {{ object.price|floatformat:"0" }}₴</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>



    <script src="{% static 'products/js/plugins.js' %}"></script>
    <script src="{% static 'products/js/active.js' %}"></script>

{% endblock %}